body {
  font-family: "Playwrite NZ Basic", sans-serif;
  background: linear-gradient(
    nulldeg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  font-weight: 600;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 80%;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  height: 178px;

  /* position: fixed;
  top: 0;  
  width: 300px;
  height: 200px;
  width: 100%;
  background: linear-gradient(nulldeg,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */
}

form {
  box-sizing: border-box;
  margin: 0px auto;
  background-color: #fff2f3;
  width: 50%;
  padding: 50px;
}

.form-content {
  width: 80%;
  margin: 0 auto;
}

.info {
  margin: 200px 80px 100px 80px;
}

h1 {
  text-align: center;
}

.logo {
  width: 250px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 84px;
  /* background-color: red; */
  width: 80%;
  text-align: center;
}

ul {
  list-style-type: none;
  color: red;
}

nav ul li {
  display: inline;
  color: white;
  margin-right: 50px;
}

nav ul li:hover {
  color: #d4207d;
}

#cita {
  background-color: #d4207d;
  color: white;
  padding: 11px 14px;
  font-family: "Playwrite NZ Basic", sans-serif;
  font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  width: 100%;
  border-radius: 3px;
  padding-right: 0.5rem;
  height: 2.5rem;
}

textarea {
  width: 100%;
  border-radius: 3px;
  padding-right: 0.5rem;
  height: 2.5rem;
}

#cita:hover {
  background-color: #a71660;
}
footer {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  padding: 10px 10px;
  margin-top: 60px;
  width: 100%;
}

.site-footer li {
  padding-right: 10px;
  display: inline;
  color: white;
}
